<div class="mainHeaderContainer">
    <div class="mainHeaderLining" id="dashboardHeader">
        <h1 class="mainHeader">Your Dashboard</h1>
    </div>
</div>
<div id="dashboardContainer">
    <div id="recentPostsContainer">
        {{#each blogPosts as |blogPost|}}
            <a class="recentPost" href="/edit/{{blogPost.id}}"><span>{{blogPost.blog_header}}</span> <span>{{blogPost.createdAt}}</span></a>
        {{/each}}
    </div>
    <form id="newPostForm" class="d-none">
        <h3>Create New Post</h3>
        <label for="newPostTitle">Title:</label>
        <input id="newPostTitle" type="text" />
        <label for="newPostContent">Content:</label>
        <textarea id="newPostContent"></textarea>
        <button id="createPostBtn" type="submit">Create</button>
    </form>
    <div id="newPostBtnContainer">
        <button id="newPostBtn">+ New Post</button>
        <a href="/dashboard">
            <button id="cancelBtn" class="d-none">Cancel</button>
        </a>
    </div>
</div>
<script src="/js/dashboard.js"></script>
