<div class="">
    <h1>Your Dashboard</h1>
</div>
<div id="newPostForm" class="d-none">
    <h3>Create New Post</h3>
    <p>Title</p>
    <input type="text" />
    <p>Content</p>
    <input type="text" />
    <br /><button>Create</button>
</div>
<div>
    <button id="newPostBtn">+ New Post</button>
</div>
<script src="/js/dashboard.js"></script>
