<div class="mainHeaderContainer">
  <div class="mainHeaderLining" id="techBlogHeader">
    <h1 class="mainHeader">The Tech Blog</h1>
  </div>
</div>
<div id="blogPostContainer">
  {{#each blogPosts as |blogPost|}}
    <a href="/blogPost/{{blogPost.id}}">
      <div id="blogPost">
        <section>
          <h2>{{blogPost.blog_header}}</h2>
          <h2>{{formatDate blogPost.createdAt}}</h2>
        </section>
        <p>{{blogPost.blog_content}}</p>
      </div>
    </a>
  {{/each}}
</div>
