<div class="mainHeaderContainer">
  <div class="mainHeaderLining" id="techBlogHeader">
    <h1 class="mainHeader">The Tech Blog</h1>
  </div>
</div>
<div id="blogPostContainer">
  {{#each blogPosts as |blogPost|}}
    <div id="blogPost">
      <h2>{{blogPost.blog_header}}</h2>
      <p>{{blogPost.blog_content}}</p>
    </div>
  {{/each}}
</div>
