<div class="mainHeaderContainer">
  <div class="mainHeaderLining" id="techBlogHeader">
    <h1 class="mainHeader">The Tech Blog</h1>
  </div>
</div>
<div id="signUpContainer">
    <form id="signUpForm">
        <h3>Sign Up</h3>
        <label for="signUpUsername">Username</label>
        <input id="signUpUsername" type="text" />
        <label for="signUpPassword">Password</label>
        <input id="signUpPassword" type="text" />
        <button id="signUpBtn" type="submit">Complete Sign Up!</button>
        <a id="loginLink" href="/login">
            <h4>Login instead</h4>
        </a>
    </form>
</div>
<script src="/js/dashboard.js"></script>
