/* Navbar and header section */
#header {
    background-color: rgb(44, 28, 28);
    padding: 1em;
}

#header a {
    margin: 1em 2em;
    text-decoration: none;
    color: aquamarine;
}

.mainHeaderContainer {
    background-color: rgb(44, 28, 28);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.mainHeaderLining {
    background-color: aquamarine;
    margin-left: 1em;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
}

/* login page */

#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginForm {
    border: solid 3px rgb(44, 28, 28);
    height: 50%;
    width: 80%;
    margin-bottom: 5em;
}

#loginForm h3 {
    font-size: 1.2em;
    background-color: rgb(44, 28, 28);
    color: aquamarine;
    padding: 0.5em;
}

#loginForm label {
    display: block;
    margin-left: 2em;
}

#loginUsername {
    width: 90%;
    height: 10%;
    display: block;
    margin: 0 auto 1em auto;
}

#loginPassword {
    width: 90%;
    height: 10%;
    display: block;
    margin: 0 auto 1em auto;
    padding: 5px;
}

#signUpLink {
    text-decoration: none;
    text-align: center;
}

#signUpLink h4 {
    font-size: 1em;
}

/* sign up page */

#signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signUpForm {
    border: solid 3px rgb(44, 28, 28);
    height: 50%;
    width: 80%;
}

#signUpForm h3 {
    font-size: 1.2em;
    background-color: rgb(44, 28, 28);
    color: aquamarine;
    padding: 0.5em;
}

#signUpForm label {
    display: block;
    margin-left: 2em;
}

#signUpFirstName,
#signUpLastName,
#signUpEmail,
#signUpUsername,
#signUpPassword {
    width: 90%;
    height: 10%;
    display: block;
    margin: 0 auto 1em auto;
}

#loginLink {
    text-decoration: none;
    text-align: center;
}

#loginLink h4 {
    font-size: 1em;
}

/* home page section */

#techBlogHeader {
    width: 260px;
}

#mainSection {
    background-color: aquamarine;
    height: 100vh;
}

#blogPostContainer {
    margin: 1em auto;
    width: 80%;
}

#blogPostContainer a {
    text-decoration: none;
}

#blogPost {
    background-color: aquamarine;
    border: solid 3px rgb(44, 28, 28);
    margin-bottom: 1em;
}

#blogPost section {
    background-color: rgb(44, 28, 28);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

#blogPost h2 {
    font-size: 1.2em;
    color: aquamarine;
}

#blogPost p {
    font-size: 1em;
    padding: 0.5em;
    color: rgb(44, 28, 28);
}

/* dashboard section */

#dashboardHeader {
    width: 300px;
}

#dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recentPostsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#noPostsYet {
    text-align: center;
    font-size: 2em;
    color: rgb(44, 28, 28);
}

.recentPost {
    margin-bottom: 1em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: darkgrey;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
}

#newPostBtnContainer {
    margin: 1em;
}

#newPostBtn,
#cancelBtn {
    background-color: rgb(44, 28, 28);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#newPostForm {
    border: solid 3px rgb(44, 28, 28);
    height: 60%;
    width: 80%;
    margin-bottom: 5em;
}

#newPostForm h3 {
    font-size: 1.2em;
    background-color: rgb(44, 28, 28);
    color: aquamarine;
    padding: 0.5em;
}

#newPostForm label {
    display: block;
    margin-left: 2em;
}

#newPostTitle {
    width: 95%;
    height: 10%;
    display: block;
    margin: 0 auto 1em auto;
}

/* edit bolg post section */

#editPostContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#editPostForm {
    border: solid 3px rgb(44, 28, 28);
    height: 80%;
    width: 80%;
    margin-bottom: 5em;
}

#editPostForm h3 {
    font-size: 1.2em;
    background-color: rgb(44, 28, 28);
    color: aquamarine;
    padding: 0.5em;
}

#editPostForm label {
    display: block;
    margin-left: 2em;
}

#editPostTitle {
    width: 95%;
    height: 10%;
    display: block;
    margin: 0 auto 1em auto;
}

/* repeated styles */

#loginBtn,
#signUpBtn,
#createPostBtn,
#updatePostBtn,
#deletePostBtn {
    display: block;
    margin: 1em auto;
    border-radius: 5px;
    border: none;
    background-color: darkgray;
    color: white;
    width: 90%;
}

#loginBtn:hover,
#signUpBtn:hover,
#createPostBtn:hover,
#updatePostBtn:hover,
#deletePostBtn:hover,
.recentPost:hover {
    background-color: rgb(117, 117, 117);
    color: white;
}

#newPostContent,
#editPostContent {
    width: 95%;
    height: 30%;
    display: block;
    margin: 0 auto 1em auto;
    padding: 5px;
}